   <header>
        <h1><a href="/">Ava Lynam</a></h1>

        <nav>
            <ul class="navbar">
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                {{!-- <li><a href="/writing">Writing</a></li> --}}
            </ul>
        </nav>

    </header>