   <header>
        <h1 id="main-header">Architecture Firm</h1>
        <nav>
            <ul id="navbar">
                <li class="navlink"><a href="/projects">Projects</a></li>
                <li class="navlink"><a href="/about">About</a></li>
                <li class="navlink"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>