   <header>
        <h1 id="main-header">Ava Lynam</h1>

        <nav>
            <ul class="navbar">
                <li class="navlink"><a href="/projects">Projects</a></li>
                <li class="navlink"><a href="/about">About</a></li>
                <li class="navlink"><a href="/contact">Contact</a></li>
            </ul>
        </nav>

    </header>