{{> nav }}
<main>
    <section class="content-container">

        <div class="about-container">

            <div class="profile-pic-container">
                <div class="profile-pic--wrapper">
                    <img src="../../media/images/ava-profile-pic.JPG" alt="ava-profile-pic" id="profile-pic--image">
                </div>
            </div>

            <div class="about-body">
                <div class="about-body--text">
                    Ava Lynam holds degrees in architecture from the University of Nottingham and urban design from the
                    Bartlett School of Architecture, London.<br><br>

                    After having grown up in Asia, she most recently worked between Dublin and London in public realm,
                    urban strategy, affordable housing, and community engagement projects.<br><br>

                    Ava works with very different scales and contexts to shape well-rounded analytical, research, and
                    design projects in response to complex and sensitive urban environments. With a specific interest
                    in contested and transitional urban places, her projects combine strategic thinking and
                    collaborative processes.<br><br>

                    She is currently based in Berlin.
                    <br>
                    <br>
                    <br>
                    <a href="https://s3.eu-west-2.amazonaws.com/architect-portfolio/Ava+Lynam_Portfolio_LowRes.pdf" target="_blank">Click to view CV</a>
                    <br>
                    <br>
                    <br>
                    <section class="contact">
                        Contact:
                        <br>
                        <br>
                        avarlynam@gmail.com
                        <br>
                        (+44)7729497457
                    </section>
                </div>

            </div>

        </div>


    </section>
</main>

{{> footer }}