{{> nav }}
<main>
    <section class="content-container">

        <div class="about-container">

            <div class="profile-pic-container">
                <img src="../../media/imgs/profile-pic.jpg" alt="profile-pic" id="profile-pic--image">
            </div>

            <div class="about-body">
                <div class="about-body--header">
                    <h3>Ava Lynam</h3>
                </div>
                <div class="about-body--text">
                &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur mauris eu pharetra fermentum. Nam
                tincidunt pretium nisi hendrerit porta. Aliquam turpis ligula, molestie at varius id, sagittis in
                felis. Pellentesque tempor interdum nunc ac aliquam. In hac habitasse platea dictumst. Aliquam erat
                volutpat. Nam cursus sem vel arcu ultrices mattis. Morbi in velit tristique, dapibus mi vitae,
                sollicitudin sem. Quisque pharetra iaculis diam, id euismod lectus maximus a. Duis lacinia aliquet
                aliquam. Vestibulum ut dolor eget nulla vehicula euismod a vel lorem. Integer posuere pretium risus nec
                faucibus. Integer at imperdiet lacus. Integer eu sagittis elit.<br><br>

                &nbsp;Vivamus ac odio rhoncus, auctor arcu eget, suscipit est. Duis cursus quam a eros molestie, nec
                vestibulum eros vehicula. Suspendisse at tellus suscipit, convallis ligula vitae, blandit urna. Integer
                rhoncus velit et arcu malesuada, non pharetra felis dapibus. Sed cursus justo sed arcu aliquam
                fermentum. Mauris dapibus sapien vel arcu auctor vestibulum. Nunc vehicula ultrices risus at dapibus.
                In in velit nec arcu lacinia mollis vitae id risus. Vivamus aliquet purus enim, nec egestas leo rutrum
                at. Etiam scelerisque blandit erat, vitae tincidunt felis tincidunt eget. Phasellus congue dapibus
                odio, fringilla venenatis justo egestas at.
                </div>
            </div>

        </div>


    </section>
</main>

{{> footer }}