{{> nav }}

<main>

    <section class="content-container">

        <div class="admin-container">

            <div class="form-container">
                <form id="newProjectForm">
                    <label for="project-name">Project Name:</label>
                    <input type="text" name="project-name">
                    <label for="project-id">Project ID:</label>
                    <input type="text" name="project-id">
                    <label for="image01">Image01:</label>
                    <input type="text" name="image01">
                    <label for="image02">Image02:</label>
                    <input type="text" name="image02">
                    <label for="about01">About01:</label>
                    <textarea type="text" name="about01"></textarea>
                    <label for="about02">About02:</label>
                    <textarea type="text" name="about02"></textarea>
                    <button type="submit" id="submitNewProject">SUBMIT</button>
                </form>
            </div>


        </div>

    </section>

</main>

{{> footer}}

<script type="text/javascript" src="/javascripts/admin.js"></script>
