{{> nav }}

<main>

    <section class="content-container">

        <div class="admin-container">

            <div class="form-container">
                <form id="newProjectForm">
                    <label for="project-name">Project Name:</label>
                    <input type="text" name="project-name">

                    <label for="project-id">Project ID:</label>
                    <input type="text" name="project-id">

                    <label for="Cover Image">Cover Image:</label>
                    <input type="text" name="cover-image">
                    <label for="image01">Image01:</label>
                    <input type="text" name="image01">
                    <label for="image02">Image02:</label>
                    <input type="text" name="image02">
                    <label for="image03">Image03:</label>
                    <input type="text" name="image03">

                    <label for="about01">About01:</label>
                    <textarea type="text" name="about01"></textarea>
                    <label for="about02">About02:</label>
                    <textarea type="text" name="about02"></textarea>
                    <label for="about03">About03:</label>
                    <textarea type="text" name="about03"></textarea>
                    <label for="about04">About04:</label>
                    <textarea type="text" name="about04"></textarea>
                    <label for="about05">About05:</label>
                    <textarea type="text" name="about05"></textarea>

                    <label for="details01">Details01</label>
                    <input type="text" name="details01">
                    <label for="details02">Details02</label>
                    <input type="text" name="details02">
                    <label for="details03">Details03</label>
                    <input type="text" name="details03">
                    <label for="details04">Details04</label>
                    <input type="text" name="details04">

                    <button type="submit" id="submitNewProject">SUBMIT</button>
                </form>
            </div>


        </div>

    </section>

</main>

{{> footer}}

<script type="text/javascript" src="/javascripts/admin.js"></script>
