{{> nav }}

<main>

        <div class="project-cards-outer-container">
            
            {{#each projects}}
            <a href="/project/{{_id}}">
                <div class="project-card--wrapper">
                    <div class="project-card--image-wrapper">
                        <img src={{coverImage}} class="project-card--image">
                    </div>
                    <div class="project-card--title-wrapper">
                        <div class="project-card--title">
                            {{name}}
                        </div>
                        <div class="project-card--details">
                            London, UK | Metropolitan Workshop
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}

        </div>

</main>

{{> footer}}