{{> nav }}

<main>

    <section class="content-container">

        <div class="project-card-container">
        {{#each projects}}
            <div class="project-card--item " data-id={{_id}}>

                <img src={{imageSrc}} class="project-card--image">
                <a href="/project/{{_id}}"><div class="project-card--title">{{name}}</div></a>

            </div>
        {{/each}}
        </div>

    </section>

</main>

{{> footer}}