{{> nav }}

<main>

    <section class="content-container">

        <div class="project-card-container">
        {{#each projects}}
            <div class="project-card--item " data-id={{id}}>

                <img src={{imageSource}} alt={{id}} class="project-card--image">
                <div class="project-card--title">{{name}}</div>

            </div>
        {{/each}}
        </div>

    </section>

</main>

{{> footer}}