{{> nav }}
<main>
    <section class="content-container">
        <div class="writing-container" style="display: flex; justify-content: center">
            { UNDER CONSTRUCTION }
        </div>
    </section>
</main>

{{> footer }}