* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgba(245, 245, 245, 0.5);
  width: 100%;
}

.outermost-container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 639px) {
  .outermost-container {
    min-width: 360px;
    /* (x3 cols) @ 100px [Total Padding = 60px, 2 gutters @ 20px, left @ 10px right @ 10px] */
    max-width: 520px;
    /* (x4 cols) @ 100px [Total Padding = 80px, 3 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 640px) {
  .outermost-container {
    max-width: 720px;
    /* (x6 cols) @ 100px [Total Padding = 120px, 5 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 1040px) {
  .outermost-container {
    max-width: 1080px;
    /* (x9 cols) @ 100px [Total Padding = 180px, 8 gutters @ 20px, left @ 10px right @ 10px]*/
  }
}
@media (min-width: 1440px) {
  .outermost-container {
    max-width: 1440px;
    /* (x12 cols) @ 100px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 1800px) {
  .outermost-container {
    max-width: 1680px;
    /* (x12 cols) @ 120px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px]  */
  }
}

header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 60px 0 20px 0;
}
@media (max-width: 639px) {
  header {
    flex-wrap: wrap;
  }
}
header h1 {
  font-size: 4em;
  margin-right: 20px;
}
@media (max-width: 639px) {
  header h1 {
    text-align: center;
    min-width: 340px;
    margin: 0 auto;
  }
}
@media (min-width: 640px) {
  header h1 {
    min-width: 340px;
    margin-right: 20px;
  }
}
@media (min-width: 1040px) {
  header h1 {
    min-width: 700px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  header h1 {
    min-width: 940px;
    margin-right: 20px;
  }
}
@media (min-width: 1800px) {
  header h1 {
    min-width: 1100px;
    margin-right: 20px;
  }
}
header nav {
  display: flex;
}
@media (max-width: 639px) {
  header nav {
    min-width: 340px;
    margin: 0 auto;
    justify-content: center;
  }
}
@media (min-width: 640px) {
  header nav {
    min-width: 340px;
  }
}
@media (min-width: 1040px) {
  header nav {
    min-width: 340px;
  }
}
@media (min-width: 1440px) {
  header nav {
    min-width: 460px;
  }
}
@media (min-width: 1800px) {
  header nav {
    min-width: 540px;
  }
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 639px) {
  header nav .navbar {
    padding-top: 15px;
  }
}
header nav .navbar li {
  margin: 0 15px;
  font-size: 2em;
}
header nav .navbar li a {
  color: #0c0500;
  text-decoration: none;
}
header nav .navbar li a:visited {
  color: #0c0500;
}
header nav .navbar li a:focus, header nav .navbar li a:hover {
  opacity: 1;
  color: #ff1932;
  transition: all 0.25s ease-in;
}
header nav .navbar li:first-child {
  margin-left: 0;
}

main {
  margin: 40px 0;
}
main .project-cards-container {
  /* projects page styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .project-cards-container .project-card--item {
  display: flex;
  margin: 20px;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1418px) {
  main .project-cards-container .project-card--item {
    max-width: 350px;
  }
}
main .project-cards-container .project-card--link {
  text-decoration: none;
  text-align: center;
  color: #0c0500;
}
main .project-cards-container .project-card--title {
  margin-top: 10px;
  font-family: "Source Serif Pro", serif;
  font-size: 1.6em;
}
main .project-cards-container .project-card--image {
  max-width: 100%;
  min-width: 250px;
  height: auto;
}
main .project-container {
  /* CATCH ALL STYLES */
  display: flex;
  /* END CATCH ALL STYLES */
}
main .project-container .project-desc-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
main .project-container .project-desc-container .project-desc--name {
  font-size: 2.4em;
  font-weight: 500;
  text-decoration: underline;
  padding-bottom: 30px;
}
main .project-container .project-desc-container .project-desc--about p {
  padding-bottom: 20px;
  line-height: 1.5em;
  font-family: "Source Serif Pro", serif;
  font-size: 1.4em;
}
main .project-container .project-desc-container .project-desc--about .detail {
  padding: 0;
}
@media (max-width: 639px) {
  main .project-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  main .project-media-container {
    min-width: 340px;
    max-width: 460px;
    margin-bottom: 40px;
  }
  main .project-desc-container {
    padding: 10px;
    min-width: 340px;
    max-width: 460px;
  }
}
@media (min-width: 640px) {
  main .project-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  main .project-media-container {
    min-width: 700px;
    margin-bottom: 40px;
  }
  main .project-desc-container {
    min-width: 700px;
  }
}
@media (min-width: 1040px) {
  main .project-container {
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }
  main .project-media-container {
    min-width: 700px;
    margin-right: 20px;
    padding: 0 40px 20px 0;
  }
  main .project-desc-container {
    min-width: 340px;
  }
}
@media (min-width: 1440px) {
  main .project-container {
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }
  main .project-media-container {
    min-width: 940px;
  }
  main .project-desc-container {
    min-width: 460px;
    padding-right: 30px;
  }
}
@media (min-width: 1800px) {
  main .project-container {
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }
  main .project-media-container {
    min-width: 1100px;
  }
  main .project-desc-container {
    min-width: 450px;
  }
}
main .project-panel-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
main .project-panel-container .project-panel--card {
  display: none;
}
main .project-panel-container .project-panel--card:hover {
  transition: all 0.5s ease-in;
  transform: scale(1.3334);
}
@media (min-width: 1040px) {
  main .project-panel-container .project-panel--card {
    display: block;
    cursor: pointer;
    width: 340px;
    height: 226px;
    background-size: contain;
  }
  main .project-panel-container div:last-of-type {
    display: none;
  }
}
@media (min-width: 1440px) {
  main .project-panel-container .project-panel--card {
    width: 340px;
    height: 226px;
  }
  main .project-panel-container div:last-of-type {
    display: block;
  }
}
@media (min-width: 1800px) {
  main .project-panel-container .project-panel--card {
    width: 400px;
    height: 267px;
  }
}
main .bottom-nav {
  display: flex;
  justify-content: center;
}
main .bottom-nav a {
  color: black;
  text-decoration: none;
}
main .bottom-nav a:visited {
  color: black;
}
main .bottom-nav a:hover {
  color: #ff1932;
}
main .bottom-nav a:active {
  color: #ff1932;
}
@media (min-width: 1040px) {
  main .bottom-nav a {
    display: none;
  }
}
main .about-container {
  /*CATCH ALL STYLES*/
  display: flex;
  flex-direction: row;
  /*END CATCH ALL STYLES*/
}
main .about-container .profile-pic-container {
  display: flex;
  justify-content: left;
}
main .about-container .profile-pic-container #profile-pic--image {
  height: auto;
  margin-bottom: 40px;
}
main .about-container .about-body .about-body--text {
  padding-left: 20px;
  color: black;
  line-height: 1.4em;
  font-family: "Source Serif Pro", serif;
}
main .about-container .about-body .about-body--text a {
  color: #494949;
  text-decoration: underline;
}
main .about-container .about-body .about-body--text .contact {
  color: #494949;
}
@media (max-width: 639px) {
  main .about-container {
    flex-direction: column;
  }
  main .about-container .profile-pic-container {
    min-width: 340px;
    justify-content: center;
  }
  main .about-container .profile-pic-container #profile-pic--image {
    max-width: 200px;
  }
  main .about-container .about-body {
    min-width: 340px;
    margin: 0 auto;
  }
  main .about-container .about-body .about-body--text {
    font-size: 1.6em;
    text-align: center;
  }
}
@media (min-width: 640px) {
  main .about-container {
    flex-direction: column;
  }
  main .about-container .profile-pic-container {
    min-width: 340px;
    justify-content: center;
    margin-right: 20px;
  }
  main .about-container .profile-pic-container #profile-pic--image {
    max-width: 250px;
  }
  main .about-container .about-body {
    min-width: 340px;
  }
  main .about-container .about-body .about-body--text {
    font-size: 1.6em;
  }
}
@media (min-width: 1040px) {
  main .about-container {
    flex-direction: row;
  }
  main .about-container .profile-pic-container {
    min-width: 340px;
    justify-content: left;
  }
  main .about-container .profile-pic-container #profile-pic--image {
    max-width: 325px;
    height: auto;
  }
  main .about-container .about-body {
    min-width: 700px;
  }
  main .about-container .about-body .about-body--text {
    font-size: 1.8em;
  }
}
@media (min-width: 1440px) {
  main .about-container .profile-pic-container {
    min-width: 460px;
    margin-right: 20px;
  }
  main .about-container .profile-pic-container #profile-pic--image {
    max-width: 350px;
  }
  main .about-container .about-body {
    min-width: 940px;
  }
  main .about-container .about-body .about-body--text {
    font-size: 1.8em;
  }
}
@media (min-width: 1800px) {
  main .about-container .profile-pic-container {
    min-width: 540px;
    margin-right: 20px;
  }
  main .about-container .profile-pic-container #profile-pic--image {
    max-width: 400px;
  }
  main .about-container .about-body {
    min-width: 1100px;
  }
  main .about-container .about-body .about-body--text {
    font-size: 2em;
  }
}
main .form-container {
  width: 250px;
}
main .form-container #newProjectForm {
  display: flex;
  flex-direction: column;
}
main .form-container #newProjectForm input, main .form-container #newProjectForm label {
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  padding-top: 15px;
  border-top: 1px solid lightslategray;
}
footer span, footer i {
  padding: 20px;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
