html {
  font-size: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 245, 245, 0.5);
  width: 100%;
}

.outermost-container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 639px) {
  .outermost-container {
    min-width: 360px;
    /* (x3 cols) @ 100px [Total Padding = 60px, 2 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 640px) {
  .outermost-container {
    max-width: 720px;
    /* (x6 cols) @ 100px [Total Padding = 120px, 5 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 1040px) {
  .outermost-container {
    max-width: 1080px;
    /* (x9 cols) @ 100px [Total Padding = 180px, 8 gutters @ 20px, left @ 10px right @ 10px]*/
  }
}
@media (min-width: 1440px) {
  .outermost-container {
    max-width: 1440px;
    /* (x12 cols) @ 100px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px] */
  }
}
@media (min-width: 1800px) {
  .outermost-container {
    max-width: 1680px;
    /* (x12 cols) @ 120px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px]  */
  }
}

header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  border-bottom: 2px solid #333;
  padding: 60px 0 20px 0;
}
@media (max-width: 639px) {
  header {
    flex-wrap: wrap;
  }
}
header h1 {
  border: 2px solid teal;
  font-size: 4em;
  margin-right: 20px;
}
@media (max-width: 639px) {
  header h1 {
    text-align: center;
    min-width: 340px;
    margin: 0 auto;
  }
}
@media (min-width: 640px) {
  header h1 {
    min-width: 340px;
    margin-right: 20px;
  }
}
@media (min-width: 1040px) {
  header h1 {
    min-width: 700px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  header h1 {
    min-width: 940px;
    margin-right: 20px;
  }
}
@media (min-width: 1800px) {
  header h1 {
    min-width: 1100px;
    margin-right: 20px;
  }
}
header nav {
  border: 2px solid greenyellow;
  display: flex;
}
@media (max-width: 639px) {
  header nav {
    min-width: 340px;
    margin: 0 auto;
    justify-content: center;
  }
}
@media (min-width: 640px) {
  header nav {
    min-width: 340px;
  }
}
@media (min-width: 1040px) {
  header nav {
    min-width: 340px;
  }
}
@media (min-width: 1440px) {
  header nav {
    min-width: 460px;
  }
}
@media (min-width: 1800px) {
  header nav {
    min-width: 540px;
  }
}
header nav .navbar {
  border: 2px dashed yellow;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 639px) {
  header nav .navbar {
    padding-top: 10px;
    justify-content: center;
  }
}
header nav .navbar li {
  margin: 0 15px;
  font-size: 2em;
}
header nav .navbar li a {
  color: #414141;
  text-decoration: none;
}
header nav .navbar li a:visited {
  color: #414141;
  border: 2px solid green;
}
header nav .navbar li a:focus, header nav .navbar li a:hover {
  opacity: 1;
  color: #ff1932;
  transition: all 0.25s ease-in;
}
header nav .navbar li:first-child {
  margin-left: 0;
}

main {
  border: 1px dashed gray;
  margin: 40px 0;
}
main .project-cards-container {
  /* projects page styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .project-cards-container .project-card--item {
  display: flex;
  margin: 20px;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1418px) {
  main .project-cards-container .project-card--item {
    max-width: 350px;
  }
}
main .project-cards-container .project-card--link {
  text-decoration: none;
  text-align: center;
  color: #333;
}
main .project-cards-container .project-card--title {
  margin-top: 10px;
  font-family: "Source Serif Pro", serif;
  font-size: 1.6em;
}
main .project-cards-container .project-card--image {
  max-width: 100%;
  min-width: 250px;
  height: auto;
}
main .project-container {
  display: flex;
}
@media (min-width: 640px) {
  main .project-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .project-container .project-media {
    flex: 0.9666;
    margin: 0 auto;
  }
  main .project-container .project-desc {
    flex: 0.9666;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  main .project-container .project-desc .project-desc--name {
    font-size: 2.4em;
    padding-bottom: 30px;
  }
  main .project-container .project-desc .project-desc--about p {
    padding-bottom: 20px;
    line-height: 1.5em;
    font-family: "Source Serif Pro", serif;
    font-size: 1.4em;
  }
  main .project-container .project-desc .project-desc--about .detail {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  main .project-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .project-container .project-media {
    flex: 0.6525;
    margin-right: 40px;
  }
  main .project-container .project-desc {
    flex: 0.3333334;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  main .project-container .project-desc .project-desc--name {
    font-size: 2.4em;
    padding-bottom: 30px;
  }
  main .project-container .project-desc .project-desc--about p {
    padding-bottom: 20px;
    line-height: 1.5em;
    font-family: "Source Serif Pro", serif;
    font-size: 1.4em;
  }
  main .project-container .project-desc .project-desc--about .detail {
    padding: 0;
  }
}
main .about-container {
  /* about page styles */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}
main .about-container .profile-pic-container {
  flex: 0.35;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-container .profile-pic-container #profile-pic--image {
  border-radius: 50%;
  width: 300px;
  min-width: 150px;
  height: 300px;
  min-height: 150px;
}
main .about-container .about-body {
  flex: 0.65;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 0;
  max-width: 960px;
  min-width: 450px;
}
main .about-container .about-body .about-body--header {
  margin: 20px 0;
  text-align: center;
}
main .about-container .about-body .about-body--header h3 {
  display: inline;
  font-size: 2.4em;
  line-height: 1.6em;
  letter-spacing: 2px;
}
main .about-container .about-body .about-body--header h3:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 65px;
  /* Change this to whatever width you want. */
  padding-top: 2px;
  /* This creates some space between the element and the border. */
  border-bottom: 2px solid #ff1932;
  /* This creates the border. Replace black with whatever color you want. */
}
main .about-container .about-body .about-body--text {
  padding: 0 40px;
  line-height: 1.5em;
  font-size: 1.4em;
  font-family: "Source Serif Pro", serif;
}
main .form-container {
  width: 250px;
}
main .form-container #newProjectForm {
  display: flex;
  flex-direction: column;
}
main .form-container #newProjectForm input, main .form-container #newProjectForm label {
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  height: 90px;
  padding-top: 15px;
  border-top: 1px solid lightslategray;
}
footer span, footer i {
  padding: 20px;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
