$primary-color: #333;
$secondary-color: rgb(65, 65, 65);
$link-color: rgb(255,25,50);
$background-color: rgba(245, 245, 245, 0.5);
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Source Serif Pro', serif;
$tertiary-font: 'Montserrat', sans-serif;

// @mixin project-card($src) {
//     background-image: url($src);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//     height: 275px;
//     width: 400px;
        
// }

html {
    font-size: 10px;
    box-sizing: border-box;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    background-color: $background-color;
}

header {
    font-family: $primary-font;
    display: flex;
    margin: 80px 40px 60px 40px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid $primary-color;
    #main-header{
        font-size: 4em;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        .navlink {
            margin: 0 15px;
            font-size: 2em;
            a {
                color: $secondary-color;
                text-decoration: none;
                text-transform: uppercase;
                opacity: 0.75;
            }
            a:visited {
                color: $secondary-color;
                border: 2px solid green;
            }
            a:focus, a:hover {
                opacity: 1;
                color: $link-color;
                transition: all 0.5s ease-in;
            }
        }
    }
}

main {
    // padding: 0 20px;
    .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 40px;
        margin-bottom: 20px;
    }
    .project-card--container {
        display: flex;
        margin: 20px;
        .project-card--item{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .project-card--title{
            margin-top: 10px;
            font-family: $secondary-font;
            font-size: 14px;
        }
    }
    .about-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
            border-radius: 50%;
        }
        div {
            display: flex;
            align-items: center;
            padding: 40px;
            max-width: 550px;
            line-height: 1.4em;
            font-size: 1.2em;
            // text-align: center;
            font-family: $secondary-font;
            font-size: 1.2rem;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    height: 90px;
    border-top: 1px solid lightslategray;
        span, i {
            padding: 20px;
            font-size: 12px;
        }
} 

