$black: rgb(12, 5, 0);
$link-color: rgb(255,25,50);
$background-color: rgba(245, 245, 245, 0.5);
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Source Serif Pro', serif;
$tertiary-font: 'Montserrat', sans-serif;

@mixin for-phone-only {
    @media (max-width: 639px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 640px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 1040px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1440px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $background-color;
    width: 100%;
}

.outermost-container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    @include for-phone-only {
        min-width: 360px; /* (x3 cols) @ 100px [Total Padding = 60px, 2 gutters @ 20px, left @ 10px right @ 10px] */
        max-width: 520px; /* (x4 cols) @ 100px [Total Padding = 80px, 3 gutters @ 20px, left @ 10px right @ 10px] */
    }
    @include for-tablet-portrait-up {
        max-width: 720px; /* (x6 cols) @ 100px [Total Padding = 120px, 5 gutters @ 20px, left @ 10px right @ 10px] */
    }
    @include for-tablet-landscape-up {
        max-width: 1080px; /* (x9 cols) @ 100px [Total Padding = 180px, 8 gutters @ 20px, left @ 10px right @ 10px]*/
    }
    @include for-desktop-up {
        max-width: 1440px; /* (x12 cols) @ 100px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px] */
    }
    @include for-big-desktop-up {
        max-width: 1680px; /* (x12 cols) @ 120px [Total Padding = 240px, 11 gutters @ 20px, left @ 10px right @ 10px]  */
    }
}

header {
    font-family: $primary-font;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    // border-bottom: 2px solid $black;
    padding: 60px 0 20px 0;
    @include for-phone-only {
        flex-wrap: wrap;
    }
    h1 {
        // border: 2px solid teal;
        font-size: 4em;
        margin-right: 20px;
        @include for-phone-only {
            text-align: center;
            min-width: 340px;
            margin: 0 auto;
        }
        @include for-tablet-portrait-up {
            min-width: 340px;
            margin-right: 20px;
        }
        @include for-tablet-landscape-up {
            min-width: 700px;
            margin-right: 20px;
        }
        @include for-desktop-up {
            min-width: 940px;
            margin-right: 20px;
        }
        @include for-big-desktop-up {
            min-width: 1100px;
            margin-right: 20px;
        }
    }
    nav {
        // border: 2px solid greenyellow;
        display: flex;
        @include for-phone-only {
            min-width: 340px;
            margin: 0 auto;
            justify-content: center;
        }
        @include for-tablet-portrait-up {
            min-width: 340px;
        }
        @include for-tablet-landscape-up {
            min-width: 340px;
        }
        @include for-desktop-up {
            min-width: 460px;
        }
        @include for-big-desktop-up {
            min-width: 540px;
        }
        .navbar {
            // border: 2px dashed yellow;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;
            @include for-phone-only {
                padding-top: 15px;
            }
            li {
                margin: 0 15px;
                font-size: 2em;
                a {
                    color: $black;
                    text-decoration: none;
                }
                a:visited {
                    color: $black;
                }
                a:focus, a:hover {
                    opacity: 1;
                    color: $link-color;
                    transition: all 0.25s ease-in;
                }
            }
            li:first-child {
                margin-left: 0; 
            }
        }
    }
}

main {
    // border: 1px dashed gray;
    margin: 40px 0;
    .project-cards-container { /* projects page styles */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .project-card--item{
            display: flex;
            margin: 20px;
            max-width: 450px;
            flex-direction: column;
            justify-content: center;
            @media(max-width: 1418px) {
                max-width: 350px;
            }
        }
        .project-card--link {
            text-decoration: none;
            text-align: center;
            color: $black;
        }
        .project-card--title{
            margin-top: 10px;
            font-family: $secondary-font;
            font-size: 1.6em;
        }
        .project-card--image {
            max-width: 100%;
            min-width: 250px;
            height: auto;
        }
    }

    .project-container {
        /* CATCH ALL STYLES */
        display: flex;
        .project-desc-container {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            .project-desc--name {
                font-size: 2.4em;
                font-weight: 500;
                text-decoration: underline;
                padding-bottom: 30px;
            }
            .project-desc--about p {
                    padding-bottom: 20px;
                    line-height: 1.5em;
                    font-family: $secondary-font;
                    font-size: 1.4em;
            }
            .project-desc--about .detail {
                padding: 0;
            }
        } /* END CATCH ALL STYLES */
    }
    @include for-phone-only {
        .project-container {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .project-media-container {
            min-width: 340px;
            max-width: 460px;
            margin-bottom: 40px;
        }
        .project-desc-container {
            padding: 10px;
            min-width: 340px;
            max-width: 460px;
        }
    } 
    @include for-tablet-portrait-up {
        .project-container {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .project-media-container {
            min-width: 700px;
            margin-bottom: 40px;
        }
        .project-desc-container {
            min-width: 700px;
        }
    }
    @include for-tablet-landscape-up {
        .project-container {
            flex-direction: row;
            align-items: initial;
            justify-content: initial;
        }
        .project-media-container {
            min-width: 700px;
            margin-right: 20px;
            padding: 0 40px 20px 0;
        }
        .project-desc-container {
            min-width: 340px;
        }
    }
    @include for-desktop-up {
        .project-container {
            flex-direction: row;
            align-items: initial;
            justify-content: initial;
        }
        .project-media-container {
            min-width: 940px;
        }
        .project-desc-container {
            min-width: 460px;
            padding-right: 30px;
        }
    }
    @include for-big-desktop-up {
        .project-container {
            flex-direction: row;
            align-items: initial;
            justify-content: initial;
        }
        .project-media-container {
            min-width: 1100px;
        }
        .project-desc-container {
            min-width: 450px;
        }
    }
    
    .project-panel-container {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        .project-panel--card {
            display: none;
        }
        .project-panel--card:hover {
            transition: all 0.5s ease-in;
            transform: scale(1.3334);
        }
        @include for-tablet-landscape-up {
            .project-panel--card {
                display: block;
                cursor: pointer;
                width: 340px;
                height: 226px;
                background-size: contain;
            }
            div:last-of-type {
                display: none;
            }
        } 
        @include for-desktop-up {
            .project-panel--card {
                width: 340px;
                height: 226px;
            }
            div:last-of-type {
                display: block;
            }
        }
        @include for-big-desktop-up {
            .project-panel--card {
                width: 400px;
                height: 267px;
            }
        }
    }

    .bottom-nav {
        display: flex;
        justify-content: center;
        a {
            color: black;
            text-decoration: none;
        }
        a:visited {
            color: black;
        }
        a:hover {
            color: $link-color;
        }
        a:active {
            color: $link-color;
        }
        @include for-tablet-landscape-up {
            a {
                display: none;
            }
        }
    }

    .about-container { 
        /*CATCH ALL STYLES*/
        display: flex;
        flex-direction: row;
        .profile-pic-container {
            display: flex;
            justify-content: left;
            #profile-pic--image {
                height: auto;
                margin-bottom: 40px;
            }
        }
        .about-body {
            .about-body--text {
                padding-left: 20px;
                color: black;
                line-height: 1.4em;
                font-family: $secondary-font;
                a {
                    color: #494949;
                    text-decoration: underline;
                }
                .contact {
                    color: #494949;
                }
            }
        } /*END CATCH ALL STYLES*/
        @include for-phone-only {
            flex-direction: column;
            .profile-pic-container {
                min-width: 340px;
                justify-content: center;
                #profile-pic--image {
                    max-width: 200px;
                }
            }
            .about-body {
                min-width: 340px;
                margin: 0 auto;
                .about-body--text {
                    font-size: 1.6em;
                    text-align: center;
                }
            }
        }
        @include for-tablet-portrait-up {
            flex-direction: column;
            .profile-pic-container {
                min-width: 340px;
                justify-content: center;
                margin-right: 20px;
                #profile-pic--image {
                    max-width: 250px;
                }
            }
            .about-body {
                min-width: 340px;
                .about-body--text {
                    font-size: 1.6em;
                }
            }
        }
        @include for-tablet-landscape-up {
            flex-direction: row;
            .profile-pic-container {
                min-width: 340px;
                justify-content: left;
                #profile-pic--image {
                    max-width: 325px;
                    height: auto;
                }
            }
            .about-body {
                min-width: 700px;
                .about-body--text {
                    font-size: 1.8em;
                }
            }
        }
        @include for-desktop-up {
            .profile-pic-container {
                min-width: 460px;
                margin-right: 20px;
                #profile-pic--image {
                    max-width: 350px;
                }
            }
            .about-body {
                min-width: 940px;
                .about-body--text {
                    font-size: 1.8em;
                }
            }
        }
        @include for-big-desktop-up {
            .profile-pic-container {
                min-width: 540px;
                margin-right: 20px;
                #profile-pic--image {
                    max-width: 400px;
                }
            }
            .about-body {
                min-width: 1100px;
                .about-body--text {
                    font-size: 2em;
                }
            }
        }
    }

    .form-container {
        width: 250px;
        #newProjectForm {
            display: flex;
            flex-direction: column;
            input, label {
                padding: 10px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    padding-top: 15px;
    border-top: 1px solid lightslategray;
        span, i {
            padding: 20px;
            font-size: 12px;
        }
} 

